# =============================================================================
# EasyPrint - LOCAL Development Environment
# =============================================================================

APP_NAME=easyPrint
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://saasprojecteasyprint.test
FRONTEND_URL=http://localhost:5173
APP_ADMIN_PASSWORD=$2y$10$ttJwuqzGoRHlPK1nu9ket.DYjP8Gh8naP/3PCKBO/fvfDK/IO21z2
GA_MEASUREMENT_ID=

DB_CONNECTION=sqlite

SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync

FILESYSTEM_DISK=public

LOG_CHANNEL=stack
LOG_LEVEL=debug

CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000

VITE_APP_NAME="${APP_NAME}"
